.modal.fade.show {
    backdrop-filter: blur(2px);
}

.form-control {
    font-size: 12px !important;
}

.custom-select {
    font-size: 12px !important;
}


    body.swal2-shown .content-wrapper {
        filter: blur(5px);
        transition: filter 0.3s ease;
    }


.swal-actions-right {
    display: flex !important;
    justify-content: flex-end !important;
    width: 100%;
}
.swal2-confirm.btn-sm,
.swal2-cancel.btn-sm {
    padding: 0.25rem 0.75rem;
    font-size: 0.8rem;
    font-weight: bold;;
}

.swal-title-sm {
    font-size: 1.5rem !important; /* Adjust as needed */
    font-weight: bold; /* Optional: control weight */
}

.swal2-validation-message {
    background: #ffe9e9;
    color: #c0392b;
    font-size: 12px;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.custom-swal-container {
    z-index: 1080 !important;
}

.custom-swal-popup {
    z-index: 1081 !important;
}

.swal2-popup {
    overflow-x: hidden !important;
}

.swal2-html-container {
    overflow-x: hidden !important;
}